*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header{
   font-family: 'Acme', sans-serif;
   
}

/* font body */
/* font-family: 'Open Sans', sans-serif;

font-family: 'Rubik', sans-serif; */