*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header{
   font-family: 'Acme', sans-serif;
   color: #29B1DD;
   background-color: white;
   height: 60px !important;
}

main{
   font-family: 'Rubik', sans-serif;
   width: 100vw;
   background-color: #DDDDDD;
}

.selectAnimals{
   width: 100vw;
   height: 60px;
   background-color: #29B1DD;
   color: white;
   text-align: center;
}

.selectAnimals h4{
   line-height: 60px;
   text-transform: uppercase;
}

main .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   overflow: scroll
}

.boxAnimals{
   width: 200px;
   height: 100px;
   background-color: #F5F5F5;
   border-radius: 15px;
   box-shadow: 5px 5px 7px 2px #959595;
   margin-top: 30px;
   margin-bottom: 50px;
   margin-right: 40px;
   text-transform: uppercase;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
}

.fas{
   font-size: 40px;
   padding-top: 10px;
}

.boxAnimals h6{
   font-size: 15px;
   padding-top: 10px;
}

.animals{
   color: blue;
}

.fruits{
   color: orange;
}

.user{
   color: #800081;
}
